# Next.js
/.next
/out

# Dependencies
/node_modules

# Environment
.env
.env.local
.env.*.local

# Build output
/dist
/build

# Vercel
/.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
